*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:transparent;
    background: url(https://images.trvl-media.com/media/content/expus/graphics/launch/flight1320x742.jpg) no-repeat #000;
    background-size: cover;
    z-index: -1;
}
