h1 {
	color:#0000FF;
}

h2 {
	color:#FF0000;
}

.login-logo {
	border-radius: 15px;
	width: 400px;
	margin: 15px 35px 25px 0px; 
}

.middle-border {
	margin-top: 40px;
	min-height: 200px;
	border-right: 1px solid #ddd;
}

.clickable {
	cursor: pointer;
}