<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>California Ultra-Speed Rail -Admin</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="/css/main.css" />

</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" th:href="@{/}">CUSR</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a th:href="@{/tickets}">Dashboard</a></li>
       	<li><a th:href="@{/admin}">Admin</a></li>
       	<li><a th:href="@{/search}">Search</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
  
<div class="container">

	<form action="populateTable" method="post">
		<input type="submit" name="trainScheduleTable" value="Populate Train Schedule" />
		<br></br><br></br>
		<input type="submit" name ="trainStatusTable" value="Populate Train Initial Status" />
		<br></br><br></br>
		Update Train Capacity (seat per train): <input type = "text" name="capacity" th:value = "*{capacity}"/>
		<input type="submit" name = "updateCapacity" value="UPDATE"/>
	</form>
	
	<br></br><br></br>
	<form action="reset" method="post">
	<input type="submit" value="Reset Booking System" />
	</form>


	<h3 th:text="${message}"></h3> 
</div>

</body>
</html>