<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>

<body>
	<div class="container">
		<h3>Dear customer,</h3>
		<h3 th:text="${message}"></h3>
	</div>
	<br></br>

	<div class="container">
		<h3>Passenger Information:</h3>
		<table class="table table-striped">
			<tr>
				<th>Number of Passengers</th>
				<td th:text="${numOfSeats}" />
			</tr>
		</table>
		<table th:each="p: ${passenger}" class="table table-striped">
			<tr>
				<th>Passenger Name</th>
				<td th:text="${p}" />
			</tr>
		</table>
	</div>
	<br></br>
	
	<div class="container">
		<h3>Ticket Information:</h3>
		<table class="table table-striped">
			<tr>
				<th>Departure Date</th>
				<td th:text="${departureDate}" />
			</tr>
		</table>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Train</th>
					<th>Departure Station</th>
					<th>Departure Time</th>
					<th>Arrival Station</th>
					<th>Arrival Time</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dt: ${departureTrip}">
					<td th:text="${dt.bound}" />
					<td th:text="${dt.departureStation}" />
					<td th:text="${dt.departureTime}" />
					<td th:text="${dt.arrivalStation}" />
					<td th:text="${dt.arrivalTime}" />
				</tr>
			</tbody>
		</table>
	</div>
	<br></br>

	<div th:if="${round} == 'Y'" class="container">
		<table class="table table-striped">
			<tr>
				<th>Return Date</th>
				<td th:text="${returnDate}" />
			</tr>
		</table>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Train</th>
					<th>Departure Station</th>
					<th>Departure Time</th>
					<th>Arrival Station</th>
					<th>Arrival Time</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="rt: ${returnTrip}">
					<td th:text="${rt.bound}" />
					<td th:text="${rt.departureStation}" />
					<td th:text="${rt.departureTime}" />
					<td th:text="${rt.arrivalStation}" />
					<td th:text="${rt.arrivalTime}" />
				</tr>
			</tbody>
		</table>
	</div>
	<br></br>

	<div class="container">
		<table class="table table-striped">
			<tr>
				<th>Total Price</th>
				<td th:text="'$' + ${totalPrice}" />
			</tr>
		</table>
	</div>
	<br></br>
	<div class="container">
		<h3>Thanks,</h3>
		<h3>CUSR</h3>
	</div>

</body>
</html>