<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>

<body>
	<div class="container">
		<h3>Dear customer,</h3>
		<h3 th:text="${message}"></h3>
	</div>
	<br></br>

	<div class="container">
		<h3>Passenger Information:</h3>
		<table class="table table-striped">
			<tr>
				<th>Number of Passengers</th>
				<td th:text="${numOfSeats}" />
			</tr>
		</table>
		<table th:each="p: ${passenger}" class="table table-striped">
			<tr>
				<th>Passenger Name</th>
				<td th:text="${p}" />
			</tr>
		</table>
	</div>
	<br></br>
	
	<div class="container">
		<h3>Ticket Information:</h3>
		<table class="table table-striped">
			<tr>
				<th>Departure Trip:</th>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Departure Date</th>
				<td th:text="${departureDate}" />
			</tr>
			<tr>
				<th>Departure Time</th>
				<td th:text="${departureTime}" />
			</tr>
			<tr>
				<th>Departure Station</th>
				<td th:text="${departureStation}" />
			</tr>
			<tr>
				<th>Arrival Station</th>
				<td th:text="${arrivalStation}" />
			</tr>
		</table>
		<br></br>
		<table th:if="${round} == 'Y'" class="table table-striped">
			<tr>
				<th>Departure Trip:</th>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Departure Date</th>
				<td th:text="${returnDate}" />
			</tr>
			<tr>
				<th>Departure Time</th>
				<td th:text="${returnTime}" />
			</tr>
			<tr>
				<th>Departure Station</th>
				<td th:text="${arrivalStation}" />
			</tr>
			<tr>
				<th>Arrival Station</th>
				<td th:text="${departureStation}" />
			</tr>
		</table>
	</div>
	<br></br>

	<div class="container">
		<table class="table table-striped">
			<tr>
				<th>Total Price</th>
				<td th:text="'$' + ${totalPrice}" />
			</tr>
		</table>
	</div>
	<br></br>
	<div class="container">
		<h3>Thanks,</h3>
		<h3>CUSR</h3>
	</div>

</body>
</html>