<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>California Ultra-Speed Rail</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">CUSR</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li ><a href="#">Booking</a></li>
        <li><a th:href="@{/adminlogin}">Admin</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
  <h3>Welcome to California Ultra-Speed Railway Ticket Booking System</h3>
  <br></br>
 
		<form class="form-dropdown" action="#" th:action="@{/}" th:object="${searchContent}" method ="post">
			 <div class="row">
				<div class="col-md-3 col-sm-6 form-group">
						<p class = "fill-in box subtitle">Departure Station</p>
						<select class="form-control border-radius" id="sel1" th:field="*{departureStation}">
							<option th:each="station : ${searchContent.ALL_STATIONS}"
									th:value="${station}"
									th:text="${station}">
							</option>
						</select>
				</div>

				<div class="col-md-3 col-sm-6 form-group">
					
						<p class = "fill-in box subtitle">Destination Station</p>
						<select class="form-control border-radius" id="sel2" th:field="*{destinationStation}">
								<option th:each="station : ${searchContent.ALL_STATIONS}"
									th:value="${station}"
									th:text="${station}">
								</option>
						</select>
				</div>
				
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
							<p class = "fill-in box subtitle">Departure Date</p>
							<input type="text" class="form-control border-radius border-right" th:field="*{departureDate}" placeholder="MM-DD-YYYY"/>
					</div>
				</div>
				
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
							<p class = "fill-in box subtitle">Departure Time</p>
							<input type="text" class="form-control border-radius border-right" th:field="*{departureTime}" placeholder="HH:MM"/>
					</div>
				</div>
			</div>
			
  			<div class="row">
				<label class="container">
					Round Trip  <input type="radio" name="radioButton" value="1" th:checked="*{roundTrip}"/> 
					One Way Trip  <input type="radio" name="radioButton" value="0" th:checked="*{roundTrip}==false"/>
				</label>

				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<p class = "fill-in box subtitle">Return Date</p>
						<input type="text" class="form-control border-radius border-right" th:field="*{returnDate}" placeholder="MM-DD-YYYY"/>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<p class = "fill-in box subtitle">Return Time</p>
						<input type="text" class="form-control border-radius border-right" th:field="*{returnTime}" placeholder="HH:MM"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-8">
					<p><input type="submit" value ="Search"/><input type="reset" value="Reset" /></p>
				</div>
 		   </div>
		</form>
	</div>
</body>
</html>