<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>California Ultra-Speed Rail - Ticket Purchase</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/tickets}">CUSR</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a th:href="@{/tickets}">Dashboard</a></li>
					<li><a th:href="@{/search}">Search</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/signout}"><span
							class="glyphicon glyphicon-user"></span> Sign out</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="container">
			<h1>Thanks for your booking!</h1>
			<br></br>
		</div>

		<!--  <span th:if="${purchaseRes} == 'success'" th:text="Thanks for your booking!" />
		<sapn th:unless="${purchaseRes} == 'fail'" th:text="Sorry, we could not proceed with the booking. Please try your search again!" />-->
		<!-- <div th:unless="${purchaseRes} == 'fail'" class="container">
			<h1>Sorry, we could not proceed with your booking. Please try your search again!</h1>
		<br></br>
		</div>-->

		<div class="container">
			<h3>User Information:</h3>
			<br></br>
			<table class="table table-striped">
				<tr>
					<th>Email</th>
					<td th:text="${email}" />
				</tr>
			</table>
		</div>

		<div class="container">
			<h3>Passenger Information:</h3>
			<br></br>
			<table class="table table-striped">
				<tr>
					<th>Number of Passengers</th>
					<td th:text="${numOfSeats}" />
				</tr>
			</table>
			<table th:each="p: ${passenger}" class="table table-striped">
				<tr>
					<th>Passenger Name</th>
					<td th:text="${p}" />
				</tr>
			</table>
		</div>

		<div class="container">
			<h3>Ticket Information:</h3>
			<br></br>
			<table class="table table-striped">
				<tr>
					<th>Departure Date</th>
					<td th:text="${departureDate}" />
				</tr>
			</table>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Train</th>
						<th>Departure Station</th>
						<th>Departure Time</th>
						<th>Arrival Station</th>
						<th>Arrival Time</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="dt: ${departureTrip}">
						<td th:text="${dt.bound}" />
						<td th:text="${dt.departureStation}" />
						<td th:text="${dt.departureTime}" />
						<td th:text="${dt.arrivalStation}" />
						<td th:text="${dt.arrivalTime}" />
					</tr>
				</tbody>

			</table>
		</div>
		<br></br>

		<div th:if="${round} == 'Y'" class="container">
			<table class="table table-striped">
				<tr>
					<th>Return Date</th>
					<td th:text="${returnDate}" />
				</tr>
			</table>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Train</th>
						<th>Departure Station</th>
						<th>Departure Time</th>
						<th>Arrival Station</th>
						<th>Arrival Time</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="rt: ${returnTrip}">
						<td th:text="${rt.bound}" />
						<td th:text="${rt.departureStation}" />
						<td th:text="${rt.departureTime}" />
						<td th:text="${rt.arrivalStation}" />
						<td th:text="${rt.arrivalTime}" />
					</tr>
				</tbody>
			</table>
		</div>
		<br></br>

		<div class="container">
			<table class="table table-striped">
				<tr>
					<th>Total Price</th>
					<td th:text="'$' + ${totalPrice}" />
				</tr>
			</table>
		</div>
		<br></br>
	</div>

</body>
</html>