<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>California Ultra-Speed Rail - Ticket Purchase</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">CUSR</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Booking</a></li>
					<li><a href="#">Admin</a></li>
					<li><a href="#">Page 3</a></li>
				</ul>
				 <ul class="nav navbar-nav navbar-right">
        				<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      			</ul>
			</div>
		</div>
	</nav>


	<div class="container">
		<h3>You are searching for </h3>
		<table class="table table-striped" th:object="${searchContent}">
			<thead>
				<tr>
					<th>Departure Date</th>
					<th>Departure Time</th>
					<th>Departure Station</th>
					<th>Destination Station</th>
					<th>Train Type</th>
					<th>Round or One Way Trip</th>
					<th>Number of Passenger</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="*{departureDate}" />
					<td th:text="*{departureTime}" />
					<td th:text="*{departureStation}" />
					<td th:text="*{destinationStation}" />
					<td th:text="*{trainType}" />
					<td>
						<span th:if="*{roundTrip}" th:text="Round"></span>
						<span th:unless="*{roundTrip}" th:text="OneWay"></span>
					</td>
					<td th:text="*{numberOfSeats}" />
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="container">
		<div class = "row">
			<h2>Your searching results are:</h2>
		</div>
		<div class = "row">
			<div class="col-md-6 col-sm-12">
	 		<table class="table table-striped" th:object="${oneWayList}">
				<thead>
						<tr>
						<th>Departure Date</th>
						<th>Arrival Time</th>
						<th>Number of Passenger</th>
						<th>Price</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="oneWayTrip:*{firstFive}">
						<td th:text="${oneWayTrip.departureDate}"/>
						<th th:text="${oneWayTrip.arrivalTime}"/>
						<td th:text="${oneWayTrip.numberOfSeats}"/>
						<td th:text="${oneWayTrip.ticketPrice}"/>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<h4>Connections</h4>
		</div>
					<!-- need to work on show connections for segments -->
		<div class = "row">
			<table class="table table-striped" th:object="${oneWayList}">
				<thead>
					<tr>
						<th:block th:each= "c:*{COUNT}">
							<th>Departure Station</th>
							<th>Departure Time</th>
							<th>Arrival Station</th>
							<th>Arrival Time</th>
						</th:block>
					</tr>
				</thead>
				<tbody>				
					<tr th:each="oneWayTrip: *{firstFive}">
							<th:block th:each="segment:${oneWayTrip.connections}">
								<td th:text="${segment.departureStation}" />
								<td th:text="${segment.departureTime}" />
								<td th:text="${segment.arrivalStation}" />
								<td th:text="${segment.arrivalTime}" />
							</th:block>
					</tr>
				</tbody>
			</table>
	</div>
</div>
</body>
</html>