<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>California Ultra-Speed Rail - Ticket Cancellation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/tickets}">CUSR</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a th:href="@{/tickets}">Dashboard</a></li>
					<li><a th:href="@{/search}">Search</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/signout}"><span
							class="glyphicon glyphicon-user"></span> Sign out</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<h3 th:text="${message}"></h3>
	</div>
	<br></br>

	<div class="container">
		<h3>Passenger Information:</h3>
		<table class="table table-striped">
			<tr>
				<th>Number of Passengers</th>
				<td th:text="${numOfSeats}" />
			</tr>
		</table>
		<table th:each="p: ${passenger}" class="table table-striped">
			<tr>
				<th>Passenger Name</th>
				<td th:text="${p}" />
			</tr>
		</table>
	</div>
	<br></br>

	<div class="container">
		<h3>Ticket Information:</h3>
		<table class="table table-striped">
			<tr>
				<th>Departure Trip:</th>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Departure Date</th>
				<td th:text="${departureDate}" />
			</tr>
			<tr>
				<th>Departure Time</th>
				<td th:text="${departureTime}" />
			</tr>
			<tr>
				<th>Departure Station</th>
				<td th:text="${departureStation}" />
			</tr>
			<tr>
				<th>Arrival Station</th>
				<td th:text="${arrivalStation}" />
			</tr>
		</table>
		<br></br>
		<table th:if="${round} == 'Y'" class="table table-striped">
			<tr>
				<th>Departure Trip:</th>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Departure Date</th>
				<td th:text="${returnDate}" />
			</tr>
			<tr>
				<th>Departure Time</th>
				<td th:text="${returnTime}" />
			</tr>
			<tr>
				<th>Departure Station</th>
				<td th:text="${arrivalStation}" />
			</tr>
			<tr>
				<th>Arrival Station</th>
				<td th:text="${departureStation}" />
			</tr>
		</table>
	</div>
	<br></br>

	<div class="container">
		<table class="table table-striped">
			<tr>
				<th>Total Price</th>
				<td th:text="'$' + ${totalPrice}" />
			</tr>
		</table>
	</div>
	<br></br>

</body>
</html>