<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>California Ultra-Speed Rail - User Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="/css/main.css" />
<!-- for firebase -->
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>


</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" th:href="@{/}">CUSR</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li ><a href="#">Booking</a></li>
        <li><a href="#">Admin</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
	<h3>Welcome to California Ultra-Speed Railway Ticket Booking System</h3>
	<br></br>
	<div>
		<img id="google-login" class="login-logo" style="cursor: pointer" src="/img/google-login.png" />
		<img id="fb-login" class="login-logo" style="cursor: pointer" src="/img/fb-login.png" />
	</div>
	
	<div>
	<h3>Login with email</h3>
	<br></br>
	<form class="form-inline">
		<div class="form-group">
			<label for="email">Email</label>
			<input type="text" id="login-email" class="form-control" placeholder="Enter Email" name="email" />
		</div>
		
		<div class="form-group">
			<label for="pwd">Password</label>
			<input type="password" id="login-pwd" class="form-control" placeholder="Enter Password" name="pwd" />
		</div>
		
		<div id="login" class="btn btn-default">Login</div>
	</form>
	</div>
</div>

<script>
	var config = {
	    apiKey: "AIzaSyC5KEveLKO7_v1_4hd9cg8exiXlcqIbo2E",
	    authDomain: "cmpe275-cusr.firebaseapp.com",
	    databaseURL: "https://cmpe275-cusr.firebaseio.com"
	};
	firebase.initializeApp(config);

	var fb_provider = new firebase.auth.FacebookAuthProvider();

	var google_provider = new firebase.auth.GoogleAuthProvider();

	$("#fb-login").click(function(){
		firebase.auth().signInWithPopup(fb_provider).then(function(result){
			var token = result.credential.accessToken;
			var user = result.user;
			//window.location = "http://localhost:8080/tickets?email_identifier="+user.email;
			console.log(user);
			user.getIdToken().then(function(data) {
		      console.log(data)
		      window.location = "http://localhost:8080/signin?firebaseToken="+data;
		    });
		}).catch(function(error) {
			console.log(error.code);
		});
	});

	$("#google-login").click(function(){
		firebase.auth().signInWithPopup(google_provider).then(function(result){
			var token = result.credential.accessToken;
			var user = result.user;
			window.location = "http://localhost:8080/tickets?email_identifier="+user.email;
		}).catch(function(error) {
			console.log(error.code);
		});
	});
	
	$("#login").click(function(){
		var email = $("#login-email").val();
		var pwd = $("#login-pwd").val();
		firebase.auth().signInWithEmailAndPassword(email, pwd).then(function(result){
			//window.location = "http://localhost:8080/tickets?email_identifier="+result.email;
			console.log(result);
			result.getIdToken().then(function(data) {
		      console.log(data)
		    });
		}).catch(function(error) {
			console.log(error.code);
		});
	});
</script>

</body>
</html>
